<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/homescreen_haian"
        android:label="HNLH"
        android:roundIcon="@drawable/homescreen_haian"
        android:supportsRtl="true"
        android:theme="@style/Theme.HotelBooking_App"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">


        <activity
            android:name=".Homescreen.HomescreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Review.ReviewsActivity"
            android:exported="true" />
        <activity
            android:name=".AdditionalProfile.AdditionalProfileActivity"
            android:exported="true"
            android:theme="@style/Theme.HotelBooking_App" />
        <activity
            android:name=".Register.RegisterActivity"
            android:exported="true"
            android:label="@string/title_activity_register"
            android:theme="@style/Theme.HotelBooking_App" />
        <!--<activity
            android:name=".Homescreen.HomescreenActivity"
            android:exported="true" />-->

        <activity
            android:name=".Booking.Activity.BookingActivity"
            android:exported="true" />
       <!-- <activity
            android:name=".Homescreen.HomescreenActivity"
            android:exported="true" />-->
        <activity
            android:name=".Booking.Activity.BookingCheckoutActivity"
            android:exported="true" />
        <activity
            android:name=".Searching.Activity.SearchingActivity"
            android:exported="true" />
        <activity
            android:name=".Searching.Activity.SearchingResultsActivity"
            android:exported="true" />
        <activity
            android:name=".Searching.Activity.DetailActivity"
            android:exported="true" />

        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".Homescreen.Activity.Homescreen_changepassword"
            android:exported="true" />
        <activity
            android:name=".Homescreen.Activity.Homescreen_notifications"
            android:exported="true" />
        <activity
            android:name=".Homescreen.Activity.Homescreen_myprofile"
            android:exported="true"
            android:label="@string/title_activity_homescreen_myprofile"
            android:theme="@style/Theme.HotelBooking_App"
            android:windowSoftInputMode="adjustPan" />
    </application>

</manifest>